<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>clone this app</title>
  </head>
  <body>
    <div class="container">
      <h1>Setup</h1>
      <p>
        To start off you first need to install the <a href="https://toolbelt.heroku.com/" target="_blank">Heroku Toolbelt</a> to make sure that you have acces to the <a href="https://devcenter.heroku.com/categories/command-line" target="_blank">Heroku command-line client</a>.
      </p>
      <br>
      <p>
        Next to that you need a locally installed version of Ruby 2.2.0+, Rubygems, Bundler, and Rails 5+. use <a href="https://rubyinstaller.org" target="_blank">this installer</a> or see <a href="https://medium.com/ruby-on-rails-web-application-development/how-to-install-rubyonrails-on-windows-7-8-10-complete-tutorial-2017-fc95720ee059">this guide</a> for more info.
      </p>

      <h1>Cloning this app</h1>

      <p>
        before you clone the app repository first be sure to cd to the location where you want to download the app folder.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">cd C:/download-repository</span></code>
      </pre>

      <p>
        Now clone the depository.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git clone https://github.com/Ydontknow/YDK</span></code>
      </pre>

      <p>
        before you make any changes make a new branch.
      </p>


      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git checkout -b branch-name</span></code>
      </pre>

      <p>
        When you've made changes commit them using the following command.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git commit -a -m "descriptive comment on the changes you've made"</span></code>
      </pre>

      <p>
        Then proceed by pushing the commit to the remote branch you've made
      </p>


      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git push origin branch-name"</span></code>
      </pre>

    </div>
  </body>
</html>
