/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding-bottom: 50px;
}

code {
  font-family: 'Roboto-Mono', sans-serif;
}

pre {
  padding-left: 20px;
  font-size: 16px;
  color: #FFF;
  line-height: 21px;
  border-radius: 8px;
  @extend .blue-grey, .darken-4;
}

.nav-wrapper {
  padding-left: 30px;
  padding-right: 20px;
}

.link {
  text-decoration: none;
  @extend .blue-text, .text-lighten-2;
}

.token-prompt {
  @extend .blue-text, .text-lighten-2;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toast {
  padding: 0px 10px;
}

.title {
  margin-bottom: 10px !important;
}

.alert-danger, .devise-error {
  @extend .red, .lighten-2;
}

.alert-success {
  @extend .green, .lighten-1;
}

@media only screen and (min-width : 1261px) {
  #toast-container {
    top: 82%;
    right: 89%;
  }
}
