// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.token-prompt {
  color: #bb9fff;
}

.token-input {
  font-weight: bold;
}

.output {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: #00A1DF;
}

code {
  font-family: 'Roboto-Mono', sans-serif;
}

pre {
  padding-left: 20px;
  font-size: 16px;
  background: #333;
  color: #FFF;
  line-height: 21px;
  border-radius: 8px;
}

p {
  margin: 0 !important;
  font-size: 18px;
}

h3 {
  margin: 0 !important;
  margin-top: 20px !important;
}
